body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 3px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

nav li a:hover {
  background-color: #33e;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

main p {
  font-size: 20px;
  margin-left: 20px;
}

main li {
  font-size: 20px;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer a{
  color: #ddd;
}

main a{
  color: #33e;
}

main a:hover{
  color: #e33;
}
